@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Mono:700');


html,
body {
  height: 100%;
  overflow: hidden;
  cursor: crosshair;
}

body {
  background-color: rgb(0, 0, 56);
  box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.25);
  margin: 0;
  padding: 0;
}
.bloqueinicio{
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoinicio{
    font-size: 2vw;
    color: white;
    filter: drop-shadow(-1px 0px 1px rgba(255, 0, 0, 0.6))
    drop-shadow(1px 0px 1px rgba(0, 0, 210, 1))
    blur(1.2px);
    text-decoration: none;
    transition: 3s;
    cursor: crosshair;
}
.textoinicio:hover{
  font-size: 2vw;
  color: white;
  filter: drop-shadow(-1px 0px 1px rgba(255, 0, 0, 0.6))
  drop-shadow(1px 0px 1px rgba(0, 0, 210, 1))
  blur(1.2px);
  text-decoration: underline;
  transition: 3s;
  cursor: crosshair;
}

.is-resizing .logo {
  opacity: 0;
}

.logo {
  filter: drop-shadow(-1px 0px 1px rgba(255, 0, 0, 0.6))
    drop-shadow(1px 0px 1px rgba(0, 0, 210, 1))
    blur(1.2px);
  opacity: 0.9;
  transition: opacity 100ms ease, transform 50ms linear;
  width: 17%;
  will-change: transform;
  
  @media (min-width: 500px) {
    width: 100px;
  }
  
  @media (min-width: 767px) {
    width: 150px;
  }
  
  @media (min-width: 1200px) {
    width: 200px;
  }
}

.overlay-bars,
.overlay-rgb {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.overlay-rgb {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.4) 33.333%,
    rgba(0, 0, 0, 0.4) 66.666%,
  );
  background-size: 6px;
  filter: blur(2.5px);
  opacity: 0.5;
}

.overlay-bars {
  animation: jank 40000ms linear infinite;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.1) 3%,
    rgba(0, 0, 0, 0.3) 24%,
    rgba(0, 0, 0, 0.1) 3%,
  );
  background-size: 40px 40px;
  filter: blur(2.5px);
  opacity: 0.08;
  height: 200%;
  transform: perspective(10px) scale(1.1);
}

@keyframes jank {
  0% {
    transform: translatey(0);
  }
  
  100% {
    transform: translatey(-50%);
  }
}


.glitch {
  color: white;
  font-size: 2vw;
  position: absolute;
  top: 37%;
  font-family: 'Press Start 2P', cursive;
  filter: drop-shadow(-1px 0px 1px rgba(255, 0, 0, 0.6))
    drop-shadow(1px 0px 1px rgba(0, 0, 210, 1))
    blur(1.2px);
}

@keyframes noise-anim {
  0% {
    clip: rect(64px, 9999px, 34px, 0);
  }
  5% {
    clip: rect(73px, 9999px, 91px, 0);
  }
  10% {
    clip: rect(70px, 9999px, 52px, 0);
  }
  15% {
    clip: rect(46px, 9999px, 97px, 0);
  }
  20% {
    clip: rect(76px, 9999px, 21px, 0);
  }
  25% {
    clip: rect(60px, 9999px, 94px, 0);
  }
  30% {
    clip: rect(50px, 9999px, 60px, 0);
  }
  35% {
    clip: rect(51px, 9999px, 34px, 0);
  }
  40% {
    clip: rect(22px, 9999px, 23px, 0);
  }
  45% {
    clip: rect(51px, 9999px, 86px, 0);
  }
  50% {
    clip: rect(22px, 9999px, 67px, 0);
  }
  55% {
    clip: rect(81px, 9999px, 91px, 0);
  }
  60% {
    clip: rect(68px, 9999px, 17px, 0);
  }
  65% {
    clip: rect(25px, 9999px, 39px, 0);
  }
  70% {
    clip: rect(52px, 9999px, 100px, 0);
  }
  75% {
    clip: rect(33px, 9999px, 77px, 0);
  }
  80% {
    clip: rect(38px, 9999px, 12px, 0);
  }
  85% {
    clip: rect(28px, 9999px, 66px, 0);
  }
  90% {
    clip: rect(26px, 9999px, 77px, 0);
  }
  95% {
    clip: rect(97px, 9999px, 28px, 0);
  }
  100% {
    clip: rect(15px, 9999px, 64px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1.5px 0 red;
  top: 0;
  color: white;
  background: rgba(0, 0, 210, 0);
  filter: drop-shadow(-1px 0px 1px rgba(255, 0, 0, 0.6))
    drop-shadow(1px 0px 1px rgba(0, 0, 210, 1))
    blur(1.2px);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
  font-family: 'Press Start 2P', cursive;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(80px, 9999px, 90px, 0);
  }
  5% {
    clip: rect(82px, 9999px, 11px, 0);
  }
  10% {
    clip: rect(87px, 9999px, 89px, 0);
  }
  15% {
    clip: rect(61px, 9999px, 35px, 0);
  }
  20% {
    clip: rect(76px, 9999px, 59px, 0);
  }
  25% {
    clip: rect(74px, 9999px, 87px, 0);
  }
  30% {
    clip: rect(98px, 9999px, 31px, 0);
  }
  35% {
    clip: rect(76px, 9999px, 11px, 0);
  }
  40% {
    clip: rect(37px, 9999px, 35px, 0);
  }
  45% {
    clip: rect(71px, 9999px, 94px, 0);
  }
  50% {
    clip: rect(34px, 9999px, 91px, 0);
  }
  55% {
    clip: rect(45px, 9999px, 24px, 0);
  }
  60% {
    clip: rect(1px, 9999px, 97px, 0);
  }
  65% {
    clip: rect(99px, 9999px, 10px, 0);
  }
  70% {
    clip: rect(41px, 9999px, 27px, 0);
  }
  75% {
    clip: rect(67px, 9999px, 40px, 0);
  }
  80% {
    clip: rect(78px, 9999px, 17px, 0);
  }
  85% {
    clip: rect(5px, 9999px, 77px, 0);
  }
  90% {
    clip: rect(13px, 9999px, 28px, 0);
  }
  95% {
    clip: rect(95px, 9999px, 35px, 0);
  }
  100% {
    clip: rect(13px, 9999px, 73px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 2px 0 rgba(0, 0, 210, 1);
  top: 0;
  color: white;
  background: rgba(0, 0, 210,0);
  overflow: hidden;
  filter: drop-shadow(-1px 0px 1px rgba(255, 0, 0, 0.6))
    drop-shadow(1px 0px 1px rgba(0, 0, 210, 1))
    blur(1.2px);
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
